html, body {
  background-color: #fff;
  scroll-behavior: smooth;
}

p{
  color:#636b6f;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
#navigation {
    position: fixed;
    width: 100%;
  }

  #landing {
    background-image: url(../images/dean-pugh-710698-unsplash.jpg);
    background-repeat: no-repeat;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  .above {
    z-index: 1000;
  }

  .logoBackground{
    background-color: rgb(153, 153, 153, 0.5);
    color:black !important;
    border-radius: 8px;
    margin-top: 10rem;
    text-align: center;
  }

  .logo {
    font-size: 60px;
    padding: 1rem;
    }

    #about {
        padding-top: 60px;
        padding-bottom: 60px;
      }

      #aboutImage{
        background-image: url(../images/farzad-nazifi-71686-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        background-attachment: fixed;
        height: 80vh;
        width: 100%;
        overflow: hidden;
      }

      #gallery {
        padding-top: 90px;
        padding-bottom: 60px;
      }

      #contact {
        padding-top: 60px;
        padding-bottom: 60px;
        overflow: hidden;
        background-image: url(../images/map.JPG);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
      }

      #contactImage {
        background-image: url(../images/joshua-aragon-1247600-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        background-attachment: fixed;
        height: 80vh;
        width: 100%;
        overflow: hidden;
      }

      footer{
        margin-bottom: 10px;
      }

    /* -------- start of css For typed.js -------*/
      #typed{
      font-size:2rem;
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
    }

    /* Cursor */
    .typed-cursor {
      font-size:2rem;
    }

    /* If fade out option is set */
    .typed-fade-out {
      font-size:2rem;
    }
/* -------- end of css For typed.js -------*/
